<html>
  <head>
    <%= htmlWebpackPlugin.options.metaList %>
    <%= htmlWebpackPlugin.options.titleSlot %>
    <%= htmlWebpackPlugin.options.baseSlot %>
    <%= htmlWebpackPlugin.options.styleList %>
  </head>
  <body>
    <div id="app"></div>
    <%= htmlWebpackPlugin.options.scriptList %>
  </body>
</html>
